body {
  background-color: #d9d9d9;
}

.weather-app {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

li {
  list-style-type: none;
}

.current {
  padding: 0;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

h1 {
  margin: 0px;
}

#bttn {
  background-color: #d9d9d9;
}

.low {
  color: #4169e1;
}
