body {
  background-color: white;
}

.weather-app {
  background-color: #eae5e4;
  border: 2px solid #ffffff;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

li {
  list-style-type: none;
}

.current {
  text-align: left;
  padding: 0;
  color: #797676;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

#largeDisplay {
  margin-bottom: 15px;
}

h1 {
  text-align: left;
  margin-top: 15px;
}

#bttn {
  background-color: #797676;
}

.low {
  color: #797676;
}

.form-control {
  background: white;
  border: none;
  border-radius: 6px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  line-height: 20px;
  padding: 15px;
}

.deets {
  padding: 0;
  color: #797676;
}

.data {
  color: black;
}
